@import url(../vendor/normalize.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/nav.css);
@import url(../blocks/recipes.css);
@import url(../blocks/reservation.css);
@import url(../blocks/form.css);

.menu {
  padding: 100px 0 100px;
  background-color: #ffffff;
  background-image: url(../images/background_menu.svg);
  position: relative;
}

.menu__title {
  text-align: center;
  margin: 0 0 24px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}
.menu__subtitle {
  text-align: center;
  margin: 0 auto;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 780px;
}
.menu__cards {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 0;
  margin-top: 100px;
  list-style: none;
  flex-wrap: wrap;
}
.card {
  width: 540px;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.card__list-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
    transform: scale(1.093);
  }
}

.about {
  background-color: #002850;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 100px 88px 173px;
  z-index: 5;
  align-items: flex-start;
}

.about__title {
  top: 50px;
  left: 50px;
  z-index: 10;
  margin: 0;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: white;
  max-width: 70%;
  text-align: center;
}

.about__content {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 173px 0;
  max-width: 606px;
}

.about__paragraph {
  margin-bottom: 20px;
}

.about__paragraph:last-child {
  margin: 0px;
}

.about__circle {
  border-radius: 50%;
  background-color: #1878dc;
  width: 426px;
  height: 426px;
  position: absolute;
  top: -120px;
  left: -100px;
  z-index: 1;
  border: none;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite both;
}

.footer {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  text-decoration: none;
  padding: 60px 80px 0;
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
}

.footer__contents {
  margin: 0 0 108px;
  display: flex;
}

.footer__logo {
  max-width: 105px;
  max-height: 39px;
}

.footer__social-heading {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

.footer__content {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.footer__list {
  padding: 0;
  margin-bottom: 0;
}

.footer__list-item {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  margin: 20px 0 16px;
  list-style-type: none;
}

.footer__social-icon {
  max-width: 16px;
  max-height: 16px;
  margin-right: 10px;
}

.footer__social-link {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  gap: 10px;
}

.footer__social-link:hover {
  opacity: 70%;
  /* color: #cccccc; */
  /* transition: opacity 0.3s linear; */
}
.footer__copyright {
  padding: 0 0 60px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: flex-start;
  color: #fff;
}
